<nav>
  <div class="margarine-regular">
      <h2>El aroma mágico</h2>
  </div> 
</nav>
<hr>

<div class="jumbotron bgimage img-fluid">
  <!-- Contenido de tu jumbotron aquí -->
</div>

<div style="width: 60%;">
  <div class="mt-5">
    <table class="table table-borderless table-custom">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
          <th scope="col">Región</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cafe of cafes">
          <td>{{cafe.id}}</td>
          <td>{{cafe.nombre}}</td>
          <td>{{cafe.tipo}}</td>
          <td>{{cafe.region}}</td>
        </tr>
        <tr>
      </tbody>
    </table>

  </div>
</div>

