<nav>
  <div class="margarine-regular">
      <h2>El aroma mágico</h2>
  </div> 
</nav>
<hr>

<div class="jumbotron bgimage img-fluid">
  <!-- Contenido de tu jumbotron aquí -->
</div>
<hr>
<div style="width: 60%;">
  <div class="mt-5">
    <table class="table table-borderless table-custom">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
          <th scope="col">Región</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cafe of cafes">
          <td>{{cafe.id}}</td>
          <td>{{cafe.nombre}}</td>
          <td>{{cafe.tipo}}</td>
          <td>{{cafe.region}}</td>
        </tr>
        <tr>
      </tbody>
    </table>

  </div>
</div>
<p>Total café de origen: {{totalCafeOrigen}}</p>
<p>Total café de blend: {{totalCafeBlend}}</p>
<footer class="footer bg-light text-dark py-4">
  <div class="container d-flex justify-content-center">
    <div>
      <p>Contact us: +57 3102105253 - info@elaromamagico.com - @elaromamagico</p>
    </div>
  </div>
</footer>

