/* You can add global styles to this file, and also import other style files */
.table-custom tbody tr {
    border-bottom: 1px solid #dee2e6;
}

.table-custom thead th {
    background-color: black;
    color: white;
}